<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
  <title>Accounts</title>
</head>
<body>
  <header>
    <h1>Rugby Club Management System</h1>
  </header>
  <nav>
    <ul>
      <li><a href="/members" Id="selected">Accounts</a></li>
      <li><a href="/news">News</a></li>
      <li><a href="fixture.html">Fixtures</a></li>
    </ul>
  </nav>
  <main>
    <h2>Add A New News</h2>
    <form action="/news/add" method="POST">
          <label for="clubid">ClubId:</label>
          <input id="clubid" name="clubid" type="hidden" value="{{clublist[0][0]}}" /> 
          <select id="selection" class="form-select" aria-label="Default select example" onchange="showData()" >
            {% for club in clublist %}
            <option value="{{club[0]}}">{{club[1]}}</option>
            {% endfor %}
          </select>
          <label for="header">Header:</label>
          <input type="text" id="header" name="header" required="required" /> <br/>   
          <label for="newsbyline">NewsByline:</label>
          <input type="text" id="newsbyline" name="newsbyline" required="required" /> <br/>      
          <label for="context">Context:</label>
          <input type="text" id="context" name="context" required="required" /> <br/>
          <p>
            <input type="submit" value="Submit"/>
            <input type="reset" value="Cancel"/>
          </p>
      </form>
  </main>
  <footer>
    <p>Developed by Amanda Chen</p>
 </footer>
</body>
<script>
    function showData() {
      var ddlViewBy = document.getElementById('selection');
      var selectedOption = ddlViewBy.options[ddlViewBy.selectedIndex].value;
      document.getElementById('clubid').value = selectedOption;
    }
     </script>
</html>