/*
   Filename:         style.css
*/
/* Display HTML5 structural elements as blocks */

html, body, div, span, h1, h2, h3, h4, h5, h6, p, ul, ol, li, dl, dt, dd, img, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, a, article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section {
    /* Cancel out some differences between browser defaults */
    margin: 0;
    padding: 0;
    border: 0;
}

body{
	display: grid;
	grid-template-columns: 12rem auto;
}

header, footer{
	grid-column: 1/3;
}

nav{
	grid-column: 1;
}

/* TYPOGRAPHY */
body {
    font-family: Lucida Sans , Arial , sans serif;
    color: #444444;
    line-height: 1.5;
}
h1 {
    font-size: 2rem;
    text-align: left;
}
footer p{
	text-align: center;
}
header, footer{
	background-color:#CCFFFF;
	color: #000000;
	padding-top: 1rem;
	padding-bottom: 1rem;
}

nav {
	background-color: antiquewhite;
}
#selected {
    color: #ff0000;
}
a:hover {
    color: #ff0000;
}


h2{
	padding-top: 1rem;
	padding-bottom: 2rem;
}

main{
	margin-left: 2rem;
}

/* IMAGES */
img {
    /* Images are forced to fit the size of the box (element) they are in. */
    width: 100%;
}


.dropdown{
	padding: 1rem 10rem 10rem 10rem;
}

#welcome{
	margin-left: 10rem;
	margin-top: 10rem;
}